@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Pages */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding: 0 40px;
  background: #f2f2f2;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.section-headline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  color: #333333;
}

/* Header */

.page-navigation {
  display: flex;
  height: 64px;
  margin: 0 70px;
}

.logo {
  margin-right: 30px;
}

.page-navigation-list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.page-navigation-item {
  padding: 20px 16px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
}

.user-navigation-list {
  display: flex;
  align-items: center;

}

.user-navigation-link {
  align-self: center;
}

.user-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
}

/* Index */

.main-index {
  text-align: center;
}


.hero {
  margin-bottom: 69px;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/content/catalog/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-headline {
  width: 620px;
  margin: 0 auto;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-accent {
  display: flex;
}

.advantages-item-contain-reverse {
  order: 1;
}

.advantages-item {
  background-color: #82b3d3;
}

.advantages-item-headline {
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  color: #333333;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-contain {
  width: 230px;
  padding: 103px 85px;
  text-align: center;
  box-sizing: content-box;
}
/*
.advantages-item-contain,
.advantages-item-contain .advantages-item-description {
  color: #ffffff;
} */

.services {
  margin-bottom: 96px;
}

.services-title {
  width: 505px;
  margin: 0 auto;
}

.services-description {
  margin-bottom: 64px;
}

.services-list {
  display: flex;
}

.services-item {
  padding: 80px 85px;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
}

.services-item:first-child,
.services-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  margin-bottom: 96px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;
}

.subscribe-index {
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.8);
  background-image: url("../images/content/catalog/subscribe-blur-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-description {
  color: #ffffff;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

/* Catalog */

.main-catalog-title {
  position: absolute;
  color: #ffffff;
  cursor: default;
}

.filter {
  padding-top: 121px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.8);
  background-image: url("../images/content/catalog/catalog-blur-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
}

.filter-item {
  border: none;
}

.filter-item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.input-box-label {
  font-size: 18px;
  line-height: 24px;
  color: #f2f2f2;
  text-transform: lowercase;
}

.filter-button {
  background-color: #82b3d3;
}

.filter-button-reset {
  background-color: inherit;
}

.search-group {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 20px;
}

.search-priority {
  align-self: center;
}

.search-name {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.cards {
  padding: 20px 70px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cards-item {
  display: flex;
  width: 340px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.cards-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.cards-item-image {
  order: -1;
}

.cards-item-service,
.cards-item-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.cards-item-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.cards-button {
  background-color: #82b3d3;
}

.cards-button-active {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  padding: 40px 0 40px;
  border-top: 1px solid #e6e6e6;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item-empty {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item-link {
  flex-grow: 1;
  text-align: center;
}

.subscribe-catalog {
  text-align: center;
}
